body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111;
    margin: 0;
}

.hourglass {
    width: 100px;
    height: 200px;
    position: relative;
}

.upper, .lower {
    width: 100%;
    height: 50%;
    background-color: #A1C935;
    position: absolute;
    left: 0;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.upper {
    top: 0;
}

.lower {
    top: 50%;
    transform: rotate(180deg);
}
